html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.3;
  color: #393939;
  color: #0b0a07;
  background-color: #f2f2f2;
}
h2,h3,h4 {
  padding-left: 1vw;
}
h2 {
  padding-top: 1vw;
}
h5 {
  font-weight: normal;
  font-style: italic;
  padding-bottom: 1vw;
}
body {
  display: flex;
}
header {
  background-color: #cccccc;
  background-color: #e3d87e;
  padding-right: 1vw;
  text-align: right; 
}
main {
  display: flex;
}
#text {
  flex-direction: column;
  max-width: 650px;
  min-width: 250px;
  padding-left: 1vw;
}
#quotebox {
  padding: 10px;
  font-size: 2.5em;
  width: 422px; 
  position: absolute;
  left: 18px;
}

